Repository gglin001/triton: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autopep8, clang-format

isort:
  name: isort
  entry: isort
  args:
  - ./python
  language: python
  additional_dependencies:
  - isort==5.10.1

autopep8:
  name: autopep8
  entry: autopep8
  args:
  - -a
  - -r
  - -i
  - ./python
  language: python
  additional_dependencies:
  - autopep8==1.6.0

clang-format:
  name: clang-format
  entry: python -m clang_format
  args:
  - -regex
  - .*\.(cpp|hpp|h|cc)
  - -not
  - -path
  - ./python/triton/*
  - -not
  - -path
  - ./python/build/*
  - -not
  - -path
  - ./include/triton/external/*
  - -i
  language: python
  additional_dependencies:
  - clang-format==14.0.6

proton
  CMakePresets.json
  pixi.toml
  third_party/proton/test/CMakeLists.txt
Due: none

wip
  pixi.toml
Due: none

MLIR_ENABLE_DUMP_DIR
  python/src/ir.cc
Due: none

wip
  pyrefly.toml
Due: none

wip
  .gitignore
  pixi.toml
Due: none

wip
  CMakePresets.json
  pixi.toml
Due: none

wip
  .vscode/settings.rec.json
Due: none

ignore
  .gitignore
Due: none

wip
  CMakePresets.json
Due: none

wip
  setup.py
Due: isort, autopep8

wip
  third_party/nvidia/backend/compiler.py
Due: isort, autopep8

fakecuda
  python/tutorials/01-vector-add.py
  python/tutorials/cpu_device.py
  third_party/nvidia/backend/compiler.py
Due: isort, autopep8

wip
  python/tutorials/cpu_device.py
Due: isort, autopep8

wip
  .vscode/settings.json
  .vscode/settings.rec.json
Due: none

wip
  .gitignore
  .vscode/settings.json
Due: none

wip
  python/src/ir.cc
Due: none

wip
  .gitignore
Due: none

wip
  .vscode/settings.json
Due: none

clean
  CMakeLists.txt
  python/src/ir.cc
  setup.py
  test/TritonGPU/atomic-cas.mlir
  third_party/nvidia/include/TritonNVIDIAGPUToLLVM/Passes.h
  third_party/nvidia/include/TritonNVIDIAGPUToLLVM/Passes.td
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Due: isort, autopep8, clang-format

no build_helpers
  CMakeLists.txt
  python/build_helpers.py
Due: isort, autopep8

deps
  .gitignore
  pixi.lock
  pixi.toml
Due: none

CONDA_OVERRIDE_CUDA
  pixi.toml
Due: none

Path conditions:
  isort: any of: \.py$
  autopep8: any of: \.py$
  clang-format: any of: \.(c|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$
