Repository gglin001/triton: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autopep8, clang-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        args: ["./python"]
        language: python
        types: [python]
        additional_dependencies:
          - isort==5.10.1

      - id: autopep8
        name: autopep8
        entry: autopep8
        args: ["-a", "-r", "-i", "./python"]
        language: python
        types: [python]
        additional_dependencies:
          - autopep8==1.6.0

      - id: clang-format
        name: clang-format
        entry: python -m clang_format
        args:
          [
            "-regex",
            ".*\\.(cpp|hpp|h|cc)",
            "-not",
            "-path",
            "./python/triton/*",
            "-not",
            "-path",
            "./python/build/*",
            "-not",
            "-path",
            "./include/triton/external/*",
            "-i",
          ]
        language: python
        types: [c, c++]
        additional_dependencies:
          - clang-format==14.0.6

wip
  .gitignore
  CMakePresets.json
  third_party/cpu/CMakeLists.txt
Due: none

updatre llvm
  lib/Conversion/TritonToTritonGPU/TritonGPUConversion.cpp
  test/lib/Instrumentation/GPUHello.cpp
  third_party/cpu/lib/TritonToTritonCPU/TypeConverter.cpp
Due: none

wip
  third_party/cpu/CMakeLists.txt
Due: none

wip
  CMakeLists.txt
  python/setup.py
  python/tutorials/01-vector-add.py
Due: isort, autopep8

wip
  .gitignore
  include/triton/Tools/Sys/GetEnv.hpp
  python/examples/copy_strided.py
  python/src/ir.cc
  python/tutorials/01-vector-add.py
Due: isort, autopep8

wip
  python/tutorials/02-fused-softmax-cpu.py
  third_party/cpu/lib/TritonCPUToLLVM/MathToVecLib.cpp
Due: isort, autopep8

append `RewritePassUtils.options` for pass `ConvertTritonGPUToLLVM`
  third_party/nvidia/include/TritonNVIDIAGPUToLLVM/Passes.h
  third_party/nvidia/include/TritonNVIDIAGPUToLLVM/Passes.td
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Due: clang-format

wip
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Due: none

add debug demo
  xcuda_demos_mlir_4_debug_pat/.gitignore
  xcuda_demos_mlir_4_debug_pat/graph.mlir
  xcuda_demos_mlir_4_debug_pat/run.sh
Due: none

add debug demo
  xcuda_demos_mlir_4_debug_pat/.gitignore
  xcuda_demos_mlir_4_debug_pat/run.sh
Due: none

wip
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
  xcuda_demos_mlir_4_debug_pat/run.sh
Due: none

wip
  xcuda_demos_mlir_4_debug_pat/run.sh
Due: none

wip
  python/tutorials/03-matrix-multiplication-cpu.py
Due: isort, autopep8

wip
  python/tutorials/01-vector-add.py
Due: isort, autopep8

wip
  python/tutorials/01-vector-add.py
  third_party/proton/proton/profile.py
Due: isort, autopep8

clean
  CMakePresets.json
Due: none

wip
  _demos/t0.build.sh
Due: none

wip
  CMakeLists.txt
Due: none

wip
  .gitignore
  third_party/nvidia/lib/TritonNVIDIAGPUToLLVM/TritonGPUToLLVM.cpp
Due: none

wip
  CMakePresets.json
Due: none

add TRITON_BUILD_WITH_SPIRV_LLVM_COMPONENTS
  CMakeLists.txt
Due: none

clean
  xcuda_demos_mlir_2/graph.py
  xcuda_demos_mlir_2/run.sh
  xcuda_demos_mlir_3/graph.py
  xcuda_demos_mlir_3/run.sh
  xcuda_demos_mlir_4_debug_pat/.gitignore
  xcuda_demos_mlir_4_debug_pat/graph.mlir
  xcuda_demos_mlir_4_debug_pat/run.sh
Due: isort, autopep8

wip
  CMakeLists.txt
  third_party/nvidia/backend/compiler.py
Due: isort, autopep8

wip
  third_party/nvidia/backend/compiler.py
Due: isort, autopep8

wip
  .gitattributes
  .gitignore
  pixi.toml
Due: none

wip
  pixi.toml
Due: none

wip
  .gitignore
  third_party/nvidia/backend/compiler.py
Due: isort, autopep8

wp
  CMakePresets.json
  pixi.toml
  pyrefly.toml
Due: none

clean
  _demos/t0.build.sh
  _demos/t1.misc.sh
  _demos/t2.debug.sh
  _demos/t3.lit.sh
  pixi.toml
Due: none

wip
  CMakePresets.json
  pixi.toml
Due: none

wip
  CMakePresets.json
  python/src/ir.cc
Due: none

env
  pixi.toml
Due: none

wip
  CMakeLists.txt
  pixi.toml
Due: none

linux3.12
  pixi.toml
Due: none

wip
  pixi.toml
  setup.py
Due: isort, autopep8
